{% extends 'base.html' %}

{% block title %}Approve Booking - BookClick{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="card shadow border-success">
                <div class="card-header bg-success text-white">
                    <h4 class="mb-0"><i class="fas fa-check-circle"></i> Approve Booking</h4>
                </div>
                <div class="card-body">
                    <p class="lead">Approve this booking request?</p>
                    
                    <div class="alert alert-info">
                        <strong>Booking Details:</strong><br>
                        User: {{ booking.user.get_full_name }}<br>
                        Room: {{ booking.room.name }}<br>
                        Date: {{ booking.date|date:"M d, Y" }}<br>
                        Time: {{ booking.start_time|time:"H:i" }} - {{ booking.end_time|time:"H:i" }}<br>
                        Attendees: {{ booking.number_of_attendees }}
                    </div>
                    
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success btn-block">
                            <i class="fas fa-check"></i> Approve Booking
                        </button>
                        <a href="{% url 'booking_detail' booking.pk %}" class="btn btn-secondary btn-block">
                            <i class="fas fa-arrow-left"></i> Cancel
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
